body {
  font-family: 'Poppins', sans-serif;
}

.navy-blue {
  color: #1A1E3E;
}

.navy-blue-bg {
  background-color: #1A1E3E;
}

.navy-blue-border {
  border-color: #1A1E3E;
}

.barbel-blue {
  color: #555C93;
}

.barbel-blue-bg {
  background-color: #555C93;
}

.barbel-blue-border {
  border-color: #555C93;
}

.barbel-blue-bg-darker-hover:hover {
  background-color: #444477;
}

.barbel-blue-bg-lighter-hover:hover {
  background-color: #c7cee6;
}

select:focus {
  background-color: #c7cee6;
}

select {
  background: url("data:image/svg+xml,%3Csvg height='32px' width='32px' viewBox='0 0 16 16' fill='none' stroke='%231A1E3E' stroke-width='2' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 6l4 4 4-4' fill='none'/%3E%3C/svg%3E") no-repeat;
  background-position: calc(100% - 0.75rem) center !important;
  -moz-appearance:none !important;
  -webkit-appearance: none !important; 
  appearance: none !important;
  cursor: pointer;
  width: auto;
  border-radius: 9999px;
}