@font-face {
    font-family: 'Poppins';
    src: url('https://fonts.googleapis.com/css2?family=Poppins&display=swap') format('woff2'),
    url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap') format('woff');
    font-weight: bold;
    font-style: normal;
}

/* Apply font to all elements */
body {
    font-family: 'Poppins', sans-serif;
}